<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/HangmanWebpage/static/style.css"/>
        <title>Jeu du pendu</title>
    </head>
    <body>
        <div>
            <h1>Hangman Web</h1>
        <p>Vous pouvez jouer au Hangman en cliquant sur le lien ci-dessous</p>
        </div>
        <div>
        <form action="/play" method="GET">
                <legend>Choisis un nom d'utilisateur</legend>
                <div>
                    <label  for="username">Username:</label><br>
                    <input class="username" type="text" id="username" name="username"><br>
                </div>
                <div>
                    <button class="button" type="submit"><span>Jouer au Hangman</span></button>
                </div>
        </form>
        </div>
        <img src="HangmanWebpage/assets/Hangmanlogo.png" alt="Hangman">
    </body>
</html>