<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/HangmanWebpage/static/style.css"/>
    <title>Jeu du pendu</title>
</head>
<body>
        <h1>Jeu du pendu</h1>
        <div>
            <form method="POST">
                    <legend>Choisis une difficulté</legend>
                    <div>
                        <label  for="difficultyslider">Difficulté:</label><br>
                        <input type="range" id="difficultyslider" name="difficulty" min="1" max="3" value="2"><br>
                    </div>
                    <div>
                        <button class="button" type="submit"><span>Commencer</span></button>
                    </div>
            </form>
        </div>
</body>
</html>