<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/HangmanWebpage/static/style.css"/>
    <link rel="icon" href="/HangmanWebpage/assets/IMG/favicon.ico" />
    <title>Jeu du pendu</title>
</head>
<body>
    <div class="user">
        {{ .Player.Username }}<br>
        HighScore : {{ .Player.HighScore }}<br>
    </div>
    <h1>Jeu du pendu</h1>
    <h2>Bienvenue dans le jeu du pendu {{ .Player.Username }} !</h2>
    <div class="split left">
    <p id="game">{{ .GameDisplay }}</p>
    <p> Lettres fausses: {{ .WrongLetters}}</p>
    <p> {{ .AlreadyFound }}</p>
    <p> Erreurs restantes: {{ .RemainingMistakes }}</p>
    <div>
        <form method="POST">
            <input id="textInput" type="text" maxlength="1" autocomplete="off" name="userInput">
            <button id="submitLetter" type="submit">Valider</button>
        </form>
    </div>
    </div>
    <div class="split right">
        <div class="split centered">
        <img src={{ .GameImage }} alt="Hangman" id="hangmanPNG">
        </div>
    </div>
</body>
</html>