<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/HangmanWebpage/static/winlose.css"/>
    <link rel="icon" href="/HangmanWebpage/assets/IMG/favicon.ico" />
    <title>Jeu du pendu</title>
</head>
<body>
    <div>
        <img src="https://media1.tenor.com/m/e4c6kMI-qZgAAAAd/gg-ggez.gif" alt="win" class="winloseimg">
        <p id="guessedWord">{{ .WordToGuess }}</p>
        <p class="winlosetext">Vous avez gagné ! Bien joué !
        <p> Erreur : {{ .Mistakes }}</p>
        <p> Points gagnés : {{ .Player.Score }}</p>
    </div>
    <div>
        <button class="homebutton" onclick="window.location.href='/'">Rejouer</button>
    </div>
</body>
</html>