body{
    background-color: #211f22;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 400;
    height : auto;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}

.button {
    background-color: rgb(88, 88, 248);
    font-family: 'Lato', sans-serif;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    margin-right: 25px;
    margin-left: 25px;
}

a:link { 
    text-decoration: none;
    color : white; 
  } 
  a:visited { 
    text-decoration: none; 
    color : white;
  } 
  a:hover { 
    text-decoration: none; 
    color : white;
  } 
  a:active { 
    text-decoration: none; 
    color : white;
  }
  
  :root {
    --font-primary: 'Fira Sans', sans-serif;
    --font-size-normal: 1rem;
    --margin-small: 0.4rem;
  }
  
  p, label {
    font-family: var(--font-primary);
    font-size: var(--font-size-normal);
    font-weight: normal; /* ou un autre poids selon le besoin */
    font-style: normal; /* ou italic si nécessaire */
  }
  
  input {
    margin: var(--margin-small);
    box-sizing: border-box; /* Ajout de box-sizing */
  }
  