<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css"/>
        <title>HangmanWeb</title>
    </head>
    <body>
        <div>
            <h1>Hangman Web</h1>
        <p>Vous pouvez jouer au Hangman en cliquant sur le lien ci-dessous</p>
        <button class="button" onclick="window.location.href = 'play';">Jouer au Hangman</button>
        </div>
        <img src="..\assets\Hangmanlogo.png" alt="pendu">
    </body>
</html>
