<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\static\style.css"/>
    <title>Jeu du pendu</title>
</head>
<body>
        <h1>Jeu du pendu</h1> 
    <div style="margin-top: 200px;">
        <fieldset>
            <legend>Choisissez une difficulté:</legend>
          
            <div>
              <input type="radio" id="Facile" name="drone" value="Facile" checked />
              <label for="Facile">Facile</label>
            </div>
          
            <div>
              <input type="radio" id="Moyen" name="drone" value="Moyen" />
              <label for="Moyen">Moyen</label>
            </div>
          
            <div>
              <input type="radio" id="Difficile" name="drone" value="Difficile" />
              <label for="Difficile">Difficile</label>
            </div>
            <div>
                <button type="submit">Soumettre</button>
            </div>
          </fieldset>
    </div>
</body>
</html>
