body{
    background-image: url('https://wallpapers.hector.me/wavey/2.1/desktop/Wavey%20Moon%20Dark.jpg');
    background-size: cover;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 400;
    height : auto;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}
form {
    background-color: transparent;
    align-content: center;
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    max-width: 400px;
    outline: none;
}
#username{
    background-color: rgba(255, 255, 255, 0.2);
    margin-left: -10px;
    width: 300px;
    padding: 10px;
    margin-bottom: 50px;
    margin-top: 10px;
    border:none;
    outline: none;
}

#hangmanPlay{
    border-radius: 40px;
    background-color: #002389;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 400px;
    cursor: pointer;
margin-top: 20px;
}

#difficultySlider{
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#submitLetter{
    border-radius: 40px;
    background-color: #002389;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    cursor: pointer;
    margin-top: 20px;
}

#textInput{
    background-color: rgba(255, 255, 255, 0.2);
    margin-left: -10px;
    width: 300px;
    padding: 10px;
    margin-bottom: 50px;
    margin-top: 10px;
    border:none;
    outline: none;
}

#game{
    margin-top: 300px;
    letter-spacing: 40px;
    font-size: 40px;
}

#hangmanPNG{
    margin-top: 300px;
}

.user{
    position: fixed;
    right: 50px;
    top: 0;
}

.split {
height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}