body{
    background-image: url('../assets/background.jpg');
    background-size: cover;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 400;
    height : auto;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}
form {
    background-color: transparent;
    align-content: center;
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    max-width: 400px;
    outline: none;
}
#username{
    background-color: #363338;
    margin-left: -10px;
    width: 300px;
    padding: 10px;
    margin-bottom: 50px;
    margin-top: 10px;
    border:none;
}

#hangmanPlay{
    border-radius: 40px;
    background-color: #002389;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 400px;
    cursor: pointer;
margin-top: 20px;
}

#difficultyslider{
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}